# -----------------------------
#  IDE / Editor files
# -----------------------------

# IntelliJ / PyCharm
#.idea/
*.iml

# VS Code
.vscode/

# -----------------------------
#  Python & Virtual Environment
# -----------------------------

# Virtuelle Umgebung
.venv/
venv/
ENV/
env/