version: "3.9"

services:

  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: .
    container_name: vlat-backend
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    volumes:
      - .:/app

volumes:
  mongo_data:
